body{
  background:#f3f3f3;
  margin:0;
  padding:0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

h1{
  font-family: 'Convergence';
  text-align: center;
  text-shadow: 0 0 1px #000;
}
h2{
  font-family:'Bitter';
  font-size:20px;
  font-weight:normal;
  color:#5588bb;
  text-shadow: 0 0 1px #5588bb;
  text-align:center;
  margin: 6px 0;
  text-transform:lowercase;
}
p.big{
  font-family:'Droid Sans';
  font-size:24px;
  color:#333;
  margin: 20px 0 50px 0;
}
/* User database */
.database-user {
    display: block;
}
/* Box Contents */
.box {
    background-color: #FBFBFB;
    background-image: -moz-linear-gradient(center top , #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #ffffff inset;
}
/* Sortable lists */
.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable .sortable-item { 
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    border: 1px solid #cccccc;
    outline: medium none;
    font-family:'Bitter';
}
/* 
 * Bootstrap css overrides 
 */
.sidebar-nav {
    padding-top: 20px;
}

/* Site Footer */
footer p{
    text-align: center;
}