/* Home Carrousel */
.slider-wrapper { 
  width: 80%; 
  margin: 20px auto;
}
.theme-default #slider {
    margin:100px auto 0 auto;
}
.theme-pascal.slider-wrapper,
.theme-orman.slider-wrapper {
    margin-top:150px;
}
/* Main */
.d_n {
    display: none;
}
body{
  background:#f3f3f3;
  margin:0;
  padding:0;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
h1{
  font-family: 'Convergence';
  text-align: center;
  text-shadow: 0 0 1px #000;
}
h2{
  font-family:'Bitter';
  font-size:20px;
  font-weight:normal;
  color:#5588bb;
  text-shadow: 0 0 1px #5588bb;
  text-align:center;
  margin: 6px 0;
  text-transform:lowercase;
}
p.big{
  font-family:'Droid Sans';
  font-size:24px;
  color:#333;
  margin: 20px 0 50px 0;
}
/* Logos */
.brand {
  font-family: 'Convergence';
  color: #ffffff;
}
.logo-menu {
    background: url("../img/logor.png") no-repeat scroll 0px 5px transparent;
    width: 16px;
    height: 21px;
    display: inline-block;
    vertical-align: text-top;
    margin: 0 5px auto 10px;
}
.logo-title{
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 60px 0 20px;
}
/* User database */
.database-user {
    display: block;
}
/* Box Contents */
.box {
    background-color: #FBFBFB;
    background-image: -moz-linear-gradient(center top , #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #dddddd;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #ffffff inset;
}
.white-box {
  box-shadow: 0 0 20px #999;
  background: #ffffff;
  border-radius: 2px;
  padding: 15px;
}
/* Single form page */
.form-single {
  margin: 50px 0 18px;
}
/* Sortable list */
.sortable {
    list-style-type: none;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    background: #eee; 
    padding: 5px;
    width: 100%;
}
.sortable .sortable-item, .ui-state-highlight { 
    margin: 0;
    padding: 0.4em 0;
    border: 1px solid #cccccc;
    outline: medium none;
    font-size: 13px;
    display: block;
    float: left;
    zoom: 1;
    width: 100%;
}
.ui-state-highlight {
    height: 1.5em;
    line-height: 1.2em;
    border: 1px solid #fcefa1;
    background-color: #fbf9ee;
}
.sortable .sortable-item .item {
    width: 100%;
    float: left;
    display: block;
    margin: 0;
}
.sortable .sortable-item .item p, .sortable .sortable-item .item address{
  margin: 5px 0 5px 5px;
}
.sortable .sortable-item .item p span{
    min-width: 10.4em;
    float: left;
    position: relative;
    display: block;
}
.ordered-area {
  min-height: 100px;
}
/* Map css */
.map-normal img {
  max-width: none;
}
.map-normal {
  width: 100%;
  height: 300px;
  display: block;
}
.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:80px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}
.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}
/* Bootstrap css overrides */
.sidebar-nav {
    padding-top: 20px;
}
/* Site Footer */
footer p{
    text-align: center;
}