<div class="alert alert-info">
	<a class="close" data-dismiss="alert" href="#">&times;</a>
	<h4 class="alert-heading">Dica</h4>
	Primeiramente, você deve selecionar o representante comercial.
</div>

<form id="filterForm" action="{% url routemaker.views.pedidos_search %}" method="post" class="well form-inline">{% csrf_token %}
	{% for field in form %}
		{{ field }}
	{% endfor %}
    <button type="submit" class="btn btn-info">Filtrar</button>
</form>

<div class="row-fluid">
	<div class="span5 sortable">
		<h2>dispon&#237;veis</h2>
		<div id="pedidos-placeholder" class="ordered-area">
		</div>
	</div>

	<div class="span5 sortable">
		<h2>selecionados</h2>
		<div id="selected-pedidos-placeholder" class="ordered-area">
		</div>
	</div>
</div>
<div class="row-fluid">
	<button id="btnNext1" disabled="disabled" class="btn-large btn disabled" onclick="loadTab2();">Pr&#243;xima</input>
</div>