{% extends "base-fluid.html" %}

{% block title %}VPSA - Route Maker{% endblock %}

{% block content %}
<div class="row-fluid" style="padding-top: 50px;">
    <div class="span2">
        <div class="box">
            <strong class="database-user">{{ user_profile.database }}</strong>
            <a href="#" title="Autenticado como {{ user.username }}">{{ user.username }}</a>
        </div>
        <div class="sidebar-nav">
            <div class="well" style="padding: 8px 0;">
                <ul class="nav nav-list">
                    <li class="nav-header">Op&#231;&#245;es</li>
                    <li class="active">
                        <a href="index.html">
                            <i class="icon-map-marker"></i>
                            Criar Rota
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="span10">
        <div class="row-fluid">
            <form id="filterForm" action="{% url routemaker.views.pedidos_search %}" method="post" class="well form-inline">{% csrf_token %}
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <!--<input type="text" class="input-small" placeholder="Email">
            <input type="password" class="input-small" placeholder="Password">
            <label class="checkbox">
            <input type="checkbox"> Remember me
            </label>
            <button type="submit" class="btn">Sign in</button>-->
                <button type="submit" class="btn btn-info">Filtrar</button>
            </form>
            
            <div id="pedidos-placeholder" class="row-fluid sortable">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        util.createExternalLinks();
        visual.configUserMenuOptions();
        
        // prepare Options Object 
        var options = { 
            target:     '#pedidos-placeholder', 
            url:        '/filtro/', 
            success:    function() { 
                $('#pedidos-placeholder').sortable();
                $('#pedidos-placeholder').disableSelection();
            } 
        };
        // pass options to ajaxForm 
        $('#filterForm').ajaxForm(options);

    });
</script> 
{% endblock %}