{% extends "base-fluid.html" %}

{% block title %}VPSA - Route Maker{% endblock %}

{% block content %}
<div class="row-fluid" style="padding-top: 50px;">
    <div class="span2">
        <div class="member-box round-all">
            <strong>{{ user_profile.database }}</strong>
            <a>{{ user.username }}</a>
        </div>
    </div>
    
    <div class="span2">
        <form class="well form-inline">
        {% for field in form %}
            {{ field }}
        {% endfor %}
<!--<input type="text" class="input-small" placeholder="Email">
<input type="password" class="input-small" placeholder="Password">
<label class="checkbox">
<input type="checkbox"> Remember me
</label>
<button type="submit" class="btn">Sign in</button>-->
            <button type="submit" class="btn">Filtrar</button>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        util.createExternalLinks();
        util.configUserMenuOptions();
    });
</script> 
{% endblock %}