<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
            {% if user %}
            <li class="active"><a href="{% url routemaker.views.home %}" title="P&#225;gina Inicial">P&#225;gina Inicial</a></li>
            {% else %}
            <li class="active"><a href="{% url routemaker.views.index %}" title="P&#225;gina Inicial">P&#225;gina Inicial</a></li>
            {% endif %}
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            {% if user %}
            <li class="dropdown" id="menu1">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                    {{ user.username }}
                    <b class="caret"></b>
                </a>
                <div class="dropdown-menu">
                </div>
            </li>
            {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>