{% extends "base-fluid.html" %}

{% block title %}VPSA - Route Maker{% endblock %}

{% block content %}
<div class="row-fluid" style="padding-top: 50px;">
    {% include "options.html" %}
    
    <div class="span10">
        <div class="row-fluid">
            <div class="white-box">
                <div id="my-map" class="map-normal"></div>
            </div>
        </div>
        <hr />
        <div class="row-fluid">
            <div class="tabbable">
                <ul class="nav nav-tabs tab-menu">
                    <li class="active"><a id="lnkTab1" href="#tab1" data-toggle="tab" onclick="visual.goToFirstTabFilter();">Etapa 1</a></li>
                    <li class="d_n"><a id="lnkTab2" href="#tab2" data-toggle="tab">Etapa 2</a></li>
                    <li class="d_n"><a id="lnkTab3" href="#tab3" data-toggle="tab">Etapa 3</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        {% include "route/filter-form.html" %}
                    </div>
                    <div class="d_n tab-pane" id="tab2">
                        <div class="alert alert-info">
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                            <h4 class="alert-heading">Dica</h4>
                            Defina o ponto de partida das entregas.
                        </div>

                        <form id="filterForm" method="post" class="well form-inline">{% csrf_token %}
                            <input type="text" id="endereco" class="input-big" placeholder="Endere&#231;o">
                            <a href="#" id="buscar" class="btn btn-small btn-info" title="Buscar pelo endere&#231;o">Buscar pelo endere&#231;o</a>
                            <a href="#" id="obter-posicao" class="btn btn-small" title="Obter minha posi&#231;&#227;o">
                                <i class="icon-screenshot"></i>
                                Obter minha posi&#231;&#227;o
                            </a>
                        </form>

                        <button id="btnNext2" disabled="disabled" class="btn-large btn disabled" onclick="loadTab3();">Pr&#243;xima</button>
                    </div>
                    <div class="d_n tab-pane" id="tab3">
                        <div class="row-fluid">
                            <ul id="instructions">
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://raw.github.com/furf/jquery-ui-touch-punch/master/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
<script type="text/javascript" src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript" src="http://malsup.github.com/jquery.blockUI.js"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="https://raw.github.com/HPNeo/gmaps/master/gmaps.js"></script>
<script type="text/javascript" src="http://j.maxmind.com/app/geoip.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/routes.js"></script> 
{% endblock %}