{% extends "base.html" %}

{% block title %}VPSA - Route Maker - Cadastro{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url routemaker.views.signup %}" method="post" class="form-horizontal">{% csrf_token %}
    <fieldset>
        <legend>Cadastro</legend>
        {% for field in form %}
        <div class="control-group">
            <label class="control-label" for="{{ field.html_name }}">{{ field.label }}:</label>
            <div class="controls">
                {{ field }}
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Criar minha conta</button>
        </div>
    </fieldset>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        util.createExternalLinks();
    });
</script> 
{% endblock %}